<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Libro</title>
</head>
<body>

<form action="/libreria/libros/crear/" method="POST">

    {% csrf_token %}

    <label for="Id"> Id: </label>
    <input id="id" type="number" name="id" value="">

    <label for="Nombre"> Nombre: </label>
    <input id="nombre" type="text" name="nombre" value="">

    <label for="Numero de Paginas"> Número de Páginas: </label>
    <input id="num_paginas" type="number" name="num_paginas" value="">

    <label for="Fecha de Publicacion"> Fecha de Publicación: </label>
    <input id="fecha" type="date" name="fecha" value="">

    <input type="submit" value="Crear">

</form>


</body>
</html>