
{% include "header.html" %}

{% block content %}


    <h2 class="card-title" style="text-align: center">Mis Libros</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Número de Páginas</th>
            <th scope="col">Fecha Publicación</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>

        {% for libro in libros %}

            <tr>
                <th>{{ libro.id }}</th>
                <td>{{ libro.nombre }}</td>
                <td>{{ libro.num_paginas }}</td>
                <td>{{ libro.fecha_publicacion }}</td>
                <td><a href="/libreria/libros/{{ libro.id }}">Detalle Libro</a></td>
            </tr>


        {% endfor %}

        </tbody>
    </table>




{% endblock %}

